node_modules
dist
dist-dev
dist-prod
lerna-debug.log
.env
.npmrc
.vscode/
.nx/
docs
api/api/package.json
documentation/releaseNotes.html
documentation/breakingChangesGuide.html
tests/general/src/credentials.ts
tsconfig.tsbuildinfo
tests/test-results/
tests/playwright-report/
tests/*.json